#hello {
    .boxA {
        width: 90px;
        height: 90px;
        background: url("assets/img/marker.png") no-repeat;
    }
    .boxB {
        width: 90px;
        height: 90px;
        background: url("assets/img/01.webp") no-repeat;
    }
}
