.nav{
  padding: 10px 20px;
  overflow: hidden;
  background: #000000;
  color: #ffffff;
}
.link{
  padding: 11px;
  font-weight: 200;
  color: #ffffff;
}
.active{
    padding: 11px;
    font-weight: 200;
    background: #ffffff;
    color: #000000;
}
a{
  text-decoration: none;
}
